# Assignment - 1

### 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

'*'     ----> Multiplication Operator

'hello'  ---> String

-87.8   ----> Floating Point

'-'     ----> Subtraction Operator

'/'     ----> Division Operator

'+'     ----> Addition Operator

6       ----> Integer

### 2. What is the difference between string and variable?

a string is a value representing text

a variable is a name that can refer to any value

### 3. Describe three different data types.

Number: int-> stores integer values eg: x=10

        float-> stores floating values eg: x=12.01
        
        complex-> stores complex values eg: x=10+2j
        
List: python list is a orderd data type, used to store collections of data,List items are ordered, changeable, and allow         duplicate values.List items are indexed, the first item has index [0], the second item has index [1]

        eg: l=[1,2,3,4,5]
        
Set: The Collection of Unique items that are not in order is called Set. Braces {} are used to defined set and a comma is         used to separate values. One will find that the items are unordered in a set data type.
       
       eg: a = {4,5,5,6,6,6}
             print(a) ---> {4,5,6}

### 4. What is an expression made up of? What do all expressions do?

An expression is a construct made up of variables, operators, and method invocations, which are constructed according to the syntax of the language, that evaluates to a single value.

eg: a=5
    b=19
    ans=a+b
    power=math.pow(ans,2)

### 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

An expression evaluates to a single value. A statement does not.

### 6. After running the following code, what does the variable bacon contain?
### bacon = 22
### bacon + 1

The bacon variable has 20 as assigned value. The bacon + 1 expression does not reassign the value in bacon (that would need an assignment statement: bacon = bacon + 1)

### 7. What should the values of the following two terms be?
### 'spam' + 'spamspam'
### 'spam' * 'spam'

In [1]:
'spam'+'spamspam'

'spamspamspam'

In [2]:
'sapm'*3

'sapmsapmsapm'

Both expressions give the same string as a result

### 8.Why is eggs a valid variable name while 100 is invalid?

Variable names cannot begin with a number

### 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

The int(), float(), and str() functions will evaluate to the integer, floating-point number, and string versions of the value passed to them.

### 10.Why does this expression cause an error? How can you fix it?

### 'I have eaten ' + 99 + ' burritos.'

In [3]:
'I have eaten '+ 99+ 'burritos'

TypeError: can only concatenate str (not "int") to str

In [7]:
'I have eaten '+ '99'+ ' burritos'

'I have eaten 99 burritos'

In [6]:
'I have eaten '+ str(99)+ ' burritos'

'I have eaten 99 burritos'

The expression causes an error because 99 is an integer, and only strings can be concatenated to other strings with the + operator.